build/.build-container.almalinux
build/.build-container.almalinux.jdk17
build/.build-container.fedora
build/.build-container.fedora.jdk17
build/.build-container.rocky
build/.build-container.rocky.jdk17
build/.build-container.ubuntu
build/.build-container.ubuntu.jdk17
build/.build-container
package/staging/.compile.complete
kube/.kind.single.node.created
kube/.kind.cluster.created
kube/.kind.kubeconfig
kube/.kind.load.cluster.image
kube/.kind.load.image
kube/.kind.deploy.single.node
kube/.kind.deploy.cluster
kube/.kind-deploy-metallb
package/staging/
